<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length>0){ %>
                    <ul class="cart">
                        <% products.forEach((p)=>{%>
                            <li class="cart-item">
                                <h1>
                                    <%= p.title%>
                                </h1>
                                <h2>Quantity: <%= p.quantity%>
                                </h2>
                                <form action="/cart-delete-item" method="post">
                                    <button class="btn danger" type="submit">Delete</button>
                                    <input type="hidden" name="productId" value="<%= p._id%>" />
                                </form>
                            </li>
                            <%})%>
                                <form action="/create-order" method="post">
                                    <button class="btn" type="submit">Order Now</button>
                                </form>
                    </ul>

                    <%}else{%>
                        <h1>No Products in Cart!</h1>
                        <%}%>
            </main>
            <%- include('../includes/end.ejs') %>